<div class="header-container">
    <div class="header">BooksDealers</div>

    <div class="navigation-container">
        <div class="navigation-button">
            <button mat-button color="custom-button" (click)="navigateHome()">{{ 'HEADER.HOME' | translate}}</button>
        </div>
        <div class="navigation-button">
            <button mat-button color="custom-button" (click)="navigateBooks()">{{ 'HEADER.BOOKS' | translate}}</button>
        </div>
        <div class="navigation-button">
            <button mat-button color="custom-button" (click)="navigateMyBooks()">{{ 'HEADER.MY_BOOKS' | translate}}</button>
        </div>
        <div class="navigation-button">
            <button mat-button color="custom-button" (click)="navigateTrades()">{{ 'HEADER.TRADES' | translate}}</button>
        </div>
    </div>

    <div class="user-menu">
        <button mat-mini-fab [matMenuTriggerFor]="userMenu">
            <mat-icon>person</mat-icon>
        </button>
    </div>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="navigateSettings()">
            <mat-icon>settings</mat-icon>
            <span>{{ 'HEADER.SETTINGS' | translate}}</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>{{ 'HEADER.LOG_OUT' | translate}}</span>
          </button>
    </mat-menu>
</div>