#author-label {
    padding: 0 0 10px;
    font-size: 20px;
}

#description {
    max-width: 800px;
    min-width: 500px;
    padding-left: 20px;
}

.owner-info {
    padding-left: 20px
}

.custom-title {
    padding: 10px 0;
    margin-bottom: 0;
}

.additional-info {
    padding-bottom: 20px;
}

.user-options {
    margin-left: 10px !important;
}

.header {
    display: flex;
}

img {
    width: 150px;
    height: 150px;
    padding: 0 20px 20px 0;

}