<div mat-dialog-content class="default-font">
    <div class="header">
        <div>
            <img [src]="getCoverUrl()" />
        </div>
        <div>
            <div class="custom-title">{{ data.book.title }}</div>
            <div id="author-label">
                by {{ data.book.author }}
            </div>
            <div class="additional-info">
                {{ data.book.releaseDate | date:'y'}}
                <br/>
                {{ data.book.isbn}}
            </div>
        </div>
    </div>


    <div id="description" class="additional-info">
        {{ data.book.description }}
    </div>
    <div class="owner-info">
        Owned by: {{ data.book.owner.name }}
    </div>
    <div class="owner-info">
        Published: {{ data.book.creationDate | date:'dd-MM-y'}}
    </div>
    
</div>

<div mat-dialog-actions>
    <button *ngIf="!data.isOwner" mat-button color="custom-button" (click)="onTrade()">Ask for trade</button>
    <button *ngIf="data.isOwner" mat-button color="custom-button" (click)="onEdit()">Edit</button>
    <button *ngIf="data.isOwner" mat-button color="custom-button" (click)="onDelete()">Delete</button>
    <button mat-stroked-button color="custom-stroked-button"  (click)="onClose()">Close</button>
</div>
