#author-label {
    padding: 0 0 10px;
    font-size: 20px;
}

#description {
    max-width: 800px;
    min-width: 500px;
}

.custom-title {
    padding: 10px 0;
    margin-bottom: 0;
}

.additional-info {
    padding-bottom: 20px;
}

.user-options {
    margin-left: 10px !important;
}