<mat-form-field>
    <mat-label>{{ "TRADES_LIST.SEARCH" | translate }}</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="cover">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let trade"> <img [src]="getCoverUrl(trade)" /> </td>
        </ng-container>

        <ng-container matColumnDef="target.title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "TRADES_LIST.TARGET" | translate }} </th>
            <td mat-cell *matCellDef="let trade"> {{trade.target.title}} </td>
        </ng-container>

        <ng-container matColumnDef="target.author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "TRADES_LIST.AUTHOR" | translate }} </th>
            <td mat-cell *matCellDef="let trade"> {{trade.target.author}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "TRADES_LIST.STATUS" | translate }} </th>
            <td mat-cell *matCellDef="let trade"> {{'TRADE.STATUS.' + trade.status | translate}} </td>
        </ng-container>

        <ng-container matColumnDef="initiator.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "TRADES_LIST.TRADE_INITIATOR" | translate }} </th>
            <td mat-cell *matCellDef="let trade"> {{trade.initiator.name}} </td>
        </ng-container>

        <ng-container matColumnDef="lastUpdated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "TRADES_LIST.LAST_UPDATED" | translate }} </th>
            <td mat-cell *matCellDef="let trade"> {{trade.lastUpdated | date:"dd-MM-y HH:mm"}} </td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ "TRADES_LIST.CREATION_DATE" | translate }} </th>
            <td mat-cell *matCellDef="let trade"> {{trade.creationDate | date:"dd-MM-y"}} </td>
        </ng-container>

        
        <tr mat-header-row *matHeaderRowDef="columnsConfig"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsConfig;" (click)="onTradeSelected(row)"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">{{ "TRADES_LIST.NO_DATA" | translate }}</td>
        </tr>
    </table>


    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>