table {
    width: 100%;
  }

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td, th {
    width: 16%;
}

th {
    background-color: #eeeeee;
}

tr:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

img {
    height: 50px;
    width: 50px;
}

.mat-column-cover {
    flex: 0 0 10% !important;
    width: 10% !important;
}

.pb {
    padding-bottom: 46px;
}