.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trade-image {
    font-size: 50px;
}

.button-panel {
    display: flex;
    align-items: center;
}

.button-panel button {
    margin: 25px;
}

.custom-title {
    font-size: 30px;
}

.additional-info {
    font-size: 15px;
    padding: 20px 0 0 10px;
}

.header-wrapper {
    min-width: 900px;
    max-width: 1200px;
    padding-bottom: 100px;
}