<div class="wrapper">
    <div class="header-wrapper default-font">
        <div class="custom-title"> {{ "TRADE.DETAILS.TRADE_WITH" | translate }} {{ (creationMode || isUserInitiator) ? targetBook.owner.name : trade.initiator.name }}</div>
        <div class="additional-info">
            {{ "TRADE.DETAILS.INITIATED_BY" | translate }} {{ creationMode ? userName : trade.initiator.name}}
            <br/>
            {{ "TRADE.DETAILS.STATUS" | translate }} {{ 'TRADE.STATUS.' + (creationMode ? 'NEW' : trade.status) | translate }}
            <div *ngIf="!creationMode" class="align-left">
                {{ "TRADE.DETAILS.CREATED" | translate }} {{ trade.creationDate | date:'dd-MM-y hh:mm' }}
                <br/>
                {{ "TRADE.DETAILS.LAST_UPDATE" | translate }} {{ trade.lastUpdated | date:'dd-MM-y hh:mm' }}
            </div>
        </div>
    </div>

    <div *ngIf="tradeAccepted" class="info-panel default-font"> 
        {{ "TRADE.DETAILS.TRADE_ACCEPTED1" | translate }} 
        {{ isUserInitiator ? targetBook.owner.name : trade.initiator.name }}
        {{ "TRADE.DETAILS.TRADE_ACCEPTED2" | translate }} 
    </div>
    <div *ngIf="tradeRejected" class="info-panel default-font"> {{ "TRADE.DETAILS.TRADE_REJECTED" | translate }} </div>

    <app-book-card [book]="targetBook"></app-book-card>

    <div class="button-panel">
        <button mat-stroked-button [disabled]="tradeClosed" color="custom-stroked-button" (click)="onReject()"> {{ "TRADE.DETAILS.REJECT" | translate }} </button>
        <mat-icon class="trade-image" [inline]="true" color="custom-icon">loop</mat-icon>
        <button *ngIf="canAccept" [disabled]="acceptDisabled" mat-raised-button color="custom-raised-button" (click)="onAccept()"> {{ "TRADE.DETAILS.ACCEPT" | translate }} </button>
        <button *ngIf="canSend" [disabled]="sendDisabled" mat-raised-button color="custom-raised-button" (click)="onSendOffer()"> {{ "TRADE.DETAILS.SEND_OFFER" | translate }} </button>
    </div>

    <app-book-card 
        [book]="trade ? trade.initiatorOffer : undefined"
        [allowToChooseBook]="canChangeOffer"
        (bookChanged)="onBookChange($event)"
        [booksSourceId]="booksSourceId">
    </app-book-card>

    <app-comments-box
        [sendDisabled]="creationMode || tradeRejected"
        (commentSend)="onCommentSend($event)"
        [comments]="trade ? trade.comments : []"
    >
        
    </app-comments-box>

</div>