<div class="wrapper">
    <app-book-card [book]="targetBook"></app-book-card>

    <div class="button-panel">
        <button mat-stroked-button color="custom-stroked-button" (click)="onReject()">REJECT</button>
        <mat-icon class="trade-image" [inline]="true" color="custom-icon">loop</mat-icon>
        <button *ngIf="canAccept" mat-raised-button color="custom-raised-button" (click)="onAccept()">ACCEPT</button>
        <button *ngIf="creationMode || offerChanged" [disabled]="!offer" mat-raised-button color="custom-raised-button" (click)="onSendOffer()">SEND OFFER</button>
    </div>

    <app-book-card 
        [book]="trade ? trade.initiatorOffer : undefined"
        [allowToChooseBook]="true"
        (bookChanged)="onBookChange($event)">
    </app-book-card>

</div>