<div mat-dialog-title class="custom-title">{{ 'BOOK.EDIT.' + (data.editMode ? 'EDIT' : 'ADD') | translate }}</div>

<div mat-dialog-content class="default-font">

    <div [formGroup]="bookGroup" class="book-edit-form">
        <div class="form-field">
            <mat-form-field>
                <mat-label> {{ 'BOOK.EDIT.TITLE' | translate }} </mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label> {{ 'BOOK.EDIT.AUTHOR' | translate }} </mat-label>
                <input matInput formControlName="author">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label> {{ 'BOOK.EDIT.RELEASE_DATE' | translate }} </mat-label>
                <input matInput formControlName="releaseDate">
            </mat-form-field>
        </div>

        <div class="form-field">
            <div class="form-field">
                <mat-form-field>
                    <mat-label> {{ 'BOOK.EDIT.CATEGORY' | translate }} </mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let genre of genres" [value]="genre">
                            {{ genre }}
                          </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label> {{ 'BOOK.EDIT.ISBN' | translate }} </mat-label>
                <input matInput formControlName="isbn">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label> {{ 'BOOK.EDIT.DESCRIPTION' | translate }} </mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-radio-group formControlName="visibility">
                <span class="radio-wrapper">
                    <mat-radio-button value="PUBLIC"> {{ 'BOOK.EDIT.PUBLIC' | translate }} </mat-radio-button>
                </span>
                <span class="radio-wrapper">
                    <mat-radio-button value="PRIVATE"> {{ 'BOOK.EDIT.PRIVATE' | translate }} </mat-radio-button>
                </span>
            </mat-radio-group>
        </div>
    </div>

</div>

<div mat-dialog-actions>
    <button *ngIf="data.editMode" mat-button color="custom-button" (click)="onSave()"> {{ 'BOOK.EDIT.SAVE' | translate }} </button>
    <button *ngIf="!data.editMode" mat-button color="custom-button" (click)="onAdd()"> {{ 'BOOK.EDIT.ADD' | translate }} </button>
    <button mat-stroked-button color="custom-stroked-button"  (click)="onCancel()"> {{ 'BOOK.EDIT.CANCEL' | translate }} </button>
</div>
