<div mat-dialog-title class="custom-title">{{ data.editMode ? 'Edit book' : 'Add book' }}</div>

<div mat-dialog-content class="default-font">

    <div [formGroup]="bookGroup" class="book-edit-form">
        <div class="form-field">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label>Author</mat-label>
                <input matInput formControlName="author">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label>Release Date</mat-label>
                <input matInput formControlName="releaseDate">
            </mat-form-field>
        </div>

        <div class="form-field">
            <div class="form-field">
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let genre of genres" [value]="genre">
                            {{ genre }}
                          </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label>Isbn</mat-label>
                <input matInput formControlName="isbn">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-radio-group formControlName="visibility">
                <span class="radio-wrapper">
                    <mat-radio-button value="PUBLIC">Public</mat-radio-button>
                </span>
                <span class="radio-wrapper">
                    <mat-radio-button value="PRIVATE">Private</mat-radio-button>
                </span>
            </mat-radio-group>
        </div>
    </div>

</div>

<div mat-dialog-actions>
    <button *ngIf="data.editMode" mat-button color="custom-button" (click)="onSave()">Save</button>
    <button *ngIf="!data.editMode" mat-button color="custom-button" (click)="onAdd()">Add book</button>
    <button mat-stroked-button color="custom-stroked-button"  (click)="onCancel()">Cancel</button>
</div>
